<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
	<header>
		<span>SoundCloud</span>  
		<form id="scLink">
			<input name="trackUrlInput" type="text" placeholder="HTTPS://SOUNDCLOUD.COM/ ...">
			<button type="submit">OK</button>
		</form>
	</header>
    <audio id="player" ontimeupdate="onTimeUpdate()" src=""></audio>
	
	<footer>
		<section>
			<span>...</span>
		</section>
		<section>
			<a id="play">&gt;</a>
			<a id="stop">&#9633;</a>
			<input type="range" id="time" step="1" min="0" max="">
			<span id="duration">00:00</span>
		</section>
	</footer>
	
	<script src="http://connect.soundcloud.com/sdk.js"></script>
	<script src="/socket.io/socket.io.js"></script>


	<script src="js/vendor.min.js"></script>
	<script src="js/app.js"></script>
	
  </body>
</html>