@import url(http://fonts.googleapis.com/css?family=Nunito);
/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
/* line 5, ../../src/scss/reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 26, ../../src/scss/reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 30, ../../src/scss/reset.scss */
body {
  line-height: 1;
}

/* line 33, ../../src/scss/reset.scss */
ol, ul {
  list-style: none;
}

/* line 36, ../../src/scss/reset.scss */
blockquote, q {
  quotes: none;
}

/* line 39, ../../src/scss/reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 44, ../../src/scss/reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 10, ../../src/scss/style.scss */
body, html {
  font-family: "Nunito", sans-serif;
  color: #FFF;
}

/* line 15, ../../src/scss/style.scss */
header, footer {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding: 0 75px;
  height: 120px;
  line-height: 120px;
  text-transform: uppercase;
  background-color: #000;
}

/* line 25, ../../src/scss/style.scss */
header {
  border-bottom: 1px solid #7a797a;
}
/* line 27, ../../src/scss/style.scss */
header span:after {
  content: ':';
  position: relative;
  left: 10px;
}
/* line 32, ../../src/scss/style.scss */
header form {
  display: inline;
}
/* line 34, ../../src/scss/style.scss */
header form input[type=text] {
  margin-left: 20px;
  background-color: #FFF;
  border: 0;
  outline: none;
  padding: 5px 10px;
  color: #000;
  text-transform: uppercase;
  width: 450px;
}
/* line 44, ../../src/scss/style.scss */
header form button {
  background-color: #000;
  border: 0;
  text-decoration: underline;
  outline: none;
  color: #FFF;
  font-weight: 700;
}

/* line 55, ../../src/scss/style.scss */
canvas {
  position: absolute;
  top: 0;
  z-index: -1;
  cursor: url("../assets/img/cursorTest.gif"), pointer;
}

/* line 63, ../../src/scss/style.scss */
footer {
  position: fixed;
  border-top: 1px solid #7a797a;
  bottom: 0;
}
/* line 67, ../../src/scss/style.scss */
footer section {
  display: block;
  width: 50%;
  float: left;
}
/* line 71, ../../src/scss/style.scss */
footer section a {
  text-decoration: none;
  color: #FFF;
  font-size: 22px;
}
/* line 76, ../../src/scss/style.scss */
footer section:nth-child(2) {
  text-align: right;
}
/* line 78, ../../src/scss/style.scss */
footer section:nth-child(2) > a {
  font-size: 30px;
}
/* line 81, ../../src/scss/style.scss */
footer section:nth-child(2) input[type=range] {
  width: 400px;
  height: 12px;
}
