@import url(http://fonts.googleapis.com/css?family=Nunito);
@import 'compass/css3/box-sizing';
@import 'reset';

$font: 'Nunito', sans-serif;
$font-color: #FFF;
$primary-color: #000;
$navs : 120px;

body, html {
	font-family: $font;
	color: $font-color;
}

header, footer {
	@include box-sizing('border-box');
	width: 100%;
	padding: 0 75px;
	height: $navs;
	line-height: $navs;
	text-transform: uppercase;
	background-color: $primary-color;
}

header {
	border-bottom:1px solid #7a797a;
	span:after {
		content: ':';
		position: relative;
		left: 10px;
	}
	form {
		display: inline;
		input[type=text] {
			margin-left: 20px;
			background-color: $font-color;
			border: 0;
			outline: none;
			padding: 5px 10px;
			color: $primary-color;
			text-transform: uppercase;
			width: 450px;
		}
		button {
			background-color: $primary-color;
			border: 0;
			text-decoration: underline;
			outline: none;
			color: $font-color;
			font-weight: 700;
		}
	}
}

canvas {
	position:absolute;
	top:0;
	z-index:-1;
	cursor:url('../assets/img/cursorTest.gif'),pointer;

}

footer {
	position: fixed;
	border-top:1px solid #7a797a;
	bottom: 0;
	section {
		display: block;
		width: 50%;
		float: left;
		a {
			text-decoration: none;
			color: $font-color;
			font-size: 22px;
		}
		&:nth-child(2) {
			text-align: right;
			> a {
				font-size: 30px;
			}
			input[type=range] {
				width: 400px;
				height: 12px;
			}
		}
	}
}